CREATE DATABASE QUANLYSINHVIEN
GO

USE QUANLYSINHVIEN
GO

-- 1. LOP
-- 2. SINHVIEN
-- 3. TAIKHOAN
-- 4. KHOA
-- 5. MONHOC
-- 6. HOCPHAN
-- 7. HOCPHANDANGKY


-- 1. LOP
CREATE TABLE LOP (
 MALOP INT IDENTITY PRIMARY KEY
 , TENLOP NVARCHAR(100) NOT NULL
)
GO

-- 2. SINHVIEN
CREATE TABLE SINHVIEN (
 MASINHVIEN INT IDENTITY PRIMARY KEY
 , HOTEN NVARCHAR(100) NOT NULL
 , DIACHI NVARCHAR(100) NOT NULL
 , DIENTHOAI NVARCHAR(100) NOT NULL
 , MALOP INT NOT NULL
 , FOREIGN KEY (MALOP) REFERENCES DBO.LOP(MALOP)
)
GO


-- 3. TAIKHOAN
CREATE TABLE TAIKHOAN (
 MATAIKHOAN INT IDENTITY PRIMARY KEY
 , TENTAIKHOAN NVARCHAR(100) NOT NULL
 , TENHIENTHI NVARCHAR(100) NOT NULL
 , MATKHAU NVARCHAR(100) NOT NULL
 , MASINHVIEN INT NOT NULL
 , LOAITAIKHOAN INT NOT NULL  DEFAULT 0 -- 1: admin && 0: SinhVien
 , FOREIGN KEY (MASINHVIEN) REFERENCES DBO.SINHVIEN(MASINHVIEN)
)
GO

-- 4. KHOA
CREATE TABLE KHOA (
 MAKHOA INT IDENTITY PRIMARY KEY
 , TENKHOA NVARCHAR(100) NOT NULL
)
GO


-- 5. MONHOC
CREATE TABLE MONHOC (
 MAMONHOC INT IDENTITY PRIMARY KEY
 , TENMONHOC NVARCHAR(100) NOT NULL
 , SOTINCHI INT NOT NULL
 , MAKHOA INT NOT NULL
 , FOREIGN KEY (MAKHOA) REFERENCES DBO.KHOA(MAKHOA)
)
GO


-- 7. HOCPHANDANGKY
CREATE TABLE HOCPHANDANGKY (
   MAHOCPHAN INT IDENTITY PRIMARY KEY
 , MAMONHOC INT NOT NULL
 , MASINHVIEN INT NOT NULL
 , FOREIGN KEY (MAMONHOC) REFERENCES DBO.MONHOC(MAMONHOC)
 , FOREIGN KEY (MASINHVIEN) REFERENCES DBO.SINHVIEN(MASINHVIEN)
)
GO


-- Insert new KHOA
INSERT INTO dbo.KHOA( TENKHOA )
VALUES  ( 
	      N'CONG NGHE THONG TIN' -- TENKHOA - nvarchar(100)
        )
INSERT INTO dbo.KHOA( TENKHOA )
VALUES  ( 
	      N'Quản Trị Kinh Doanh' -- TENKHOA - nvarchar(100)
        )
GO 


-- Insert new MONHOC
INSERT INTO dbo.MONHOC( TENMONHOC, SOTINCHI, MAKHOA )
VALUES  ( 
	      N'Kinh Tế Vĩ Mô' , -- TENMONHOC - nvarchar(100)
          3 , -- SOTINCHI - int
          2  -- MAKHOA - int
        )
INSERT INTO dbo.MONHOC( TENMONHOC, SOTINCHI, MAKHOA )
VALUES  ( 
	      N'BOI' , -- TENMONHOC - nvarchar(100)
          2 , -- SOTINCHI - int
          1  -- MAKHOA - int
        )
INSERT INTO dbo.MONHOC( TENMONHOC, SOTINCHI, MAKHOA )
VALUES  ( 
	      N'Lập trình giao diện' , -- TENMONHOC - nvarchar(100)
          4 , -- SOTINCHI - int
          1  -- MAKHOA - int
        )
GO


      
-- Insert new LOP
INSERT INTO dbo.LOP( TENLOP )
VALUES  ( 
	      N'DH19IT01'  -- TENLOP - nvarchar(100)
        )
GO

-- Insert new SINHVIEN
INSERT INTO dbo.SINHVIEN( HOTEN , DIACHI , DIENTHOAI, MALOP)
VALUES  ( 
	      N'NGUYEN VAN A' , -- HOTEN - nvarchar(100)
          N'358 Le Duc Tho' , -- DIACHI - nvarchar(1000)
          N'0827362522' , -- DIENTHOAI - nvarchar(1000) 
          1  -- MALOP - int
        )
INSERT INTO dbo.SINHVIEN( HOTEN , DIACHI , DIENTHOAI, MALOP)
VALUES  ( 
	      N'NGUYEN VAN B' , -- HOTEN - nvarchar(100)
          N'313113 Le Duc Tho' , -- DIACHI - nvarchar(1000)
          N'0827362522' , -- DIENTHOAI - nvarchar(1000) 
          1  -- MALOP - int
        )
GO

-- Insert new TAIKHOAN
INSERT INTO dbo.TAIKHOAN( TENTAIKHOAN , TENHIENTHI, MATKHAU , MASINHVIEN, LOAITAIKHOAN)
VALUES  ( 
	      N'K9' , -- TENTAIKHOAN - nvarchar(100)
	      N'Admin - Tester' , -- TENTAIKHOAN - nvarchar(100)
          N'1' , -- MATKHAU - nvarchar(1000)
          1,  -- MASINHVIEN - int
          1  -- LOAITAIKHOAN - admin
        )
INSERT INTO dbo.TAIKHOAN( TENTAIKHOAN , TENHIENTHI, MATKHAU , MASINHVIEN)
VALUES  ( 
		  N'staff' , -- TENTAIKHOAN - nvarchar(100)
		  N'Staff - Tester' , -- TENTAIKHOAN - nvarchar(100)
          N'1' , -- MATKHAU - nvarchar(1000)
          2  -- MASINHVIEN - int
        )
GO



---- Insert new HOCPHAN
--INSERT INTO dbo.HOCPHAN( TENHOCPHAN )
--VALUES  ( 
--	      N'Tin học Đại cương'
--        )
--INSERT INTO dbo.HOCPHAN( TENHOCPHAN )
--VALUES  ( 
--	      N'Giải tích 1'
--        )
--INSERT INTO dbo.HOCPHAN( TENHOCPHAN )
--VALUES  ( 
--	      N'Giáo dục thể chất 1'
--        )
--GO  

-- Insert new HOCPHANDANGKY
INSERT INTO dbo.HOCPHANDANGKY( MAMONHOC, MASINHVIEN )
VALUES  ( 
	        3
	      , 1
        )
GO

--
-- PROCEDURE
--


CREATE PROC USP_GETTAIKHOAN
@TENTAIKHOAN nvarchar(100), @MATKHAU nvarchar(100)
AS
BEGIN
	SELECT * FROM dbo.TAIKHOAN WHERE TENTAIKHOAN = @TENTAIKHOAN AND MATKHAU = @MATKHAU
END
GO


CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END
GO



CREATE PROC USP_UpdateTaiKhoan
@tenTaiKhoan NVARCHAR(100), @tenHienThi NVARCHAR(100), @password NVARCHAR(100), @newPassword NVARCHAR(100)
AS
BEGIN
	DECLARE @isRightPass INT = 0
	
	SELECT @isRightPass = COUNT(*) FROM dbo.TAIKHOAN WHERE TENTAIKHOAN = @tenTaiKhoan AND MATKHAU = @password
	
	IF (@isRightPass = 1)
	BEGIN
		IF (@newPassword = NULL OR @newPassword = '')
		BEGIN
			UPDATE dbo.TAIKHOAN SET TENHIENTHI = @tenHienThi WHERE TENTAIKHOAN = @tenTaiKhoan
		END		
		ELSE
			UPDATE dbo.TAIKHOAN SET TENHIENTHI = @tenHienThi, MATKHAU = @newPassword WHERE TENTAIKHOAN = @tenTaiKhoan
	end
END
GO



-- Report
CREATE PROC USP_GetListHocPhanDangKyForReport
AS 
BEGIN
	SELECT MAHOCPHAN, HOTEN, TENMONHOC, SOTINCHI
	FROM dbo.HOCPHANDANGKY AS HPDK, dbo.SINHVIEN AS SV, dbo.MONHOC AS MH
	WHERE HPDK.MAMONHOC = MH.MAMONHOC AND HPDK.MASINHVIEN = SV.MASINHVIEN
END
GO


